* {
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: calc(0.5em + 1vw);
}

.accordion {
    margin-top: 1vh;
    width: 50vw;
}

.accordion input {
    display: none;
}

.accordion__item {
    cursor: pointer;
}

.accordion__item .accordion__content {
    display: none;
    justify-content: center;
    padding-bottom: 1rem;
}

.accordion__item > input:checked ~ .accordion__content {
    display: flex;
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0.5rem;
    border-top: 1px solid #c4c4c4;
    transition: color 0.5s ease;
    color: mediumblue;
}

.accordion:hover .accordion__title {
    color: black;
}

.accordion__title > .accordion__icon {
    opacity: 0;
    transition: transform 1s ease, opacity 0.5s ease;
    font-weight: bold;
}

.accordion:hover .accordion__title .accordion__icon {
    opacity: 1;
}

.accordion__item > input:checked ~ .accordion__title > .accordion__icon {
    transform: rotate(45deg);
    color: black;
}

.accordion__item:hover > .accordion__content {
    display: flex;
}

.accordion__item:hover > .accordion__title > .accordion__icon {
    transform: rotate(45deg);
    color: black;
}

.accordion__content > .image {
    max-width: 50%;
}

@media (max-width: 320px) {
    .accordion {
        width: 100vw;
    }
}

@media (min-width: 321px) and (max-width: 820px) {
    .accordion {
        width: 80vw;
    }
}
