* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
 h1 {
  margin-bottom: 1vh;
 }

details > summary {
   list-style: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.accordion {
    width: 100vh;
}

.accordion:hover .accordion__title .accordion__icon {
    opacity: 1;
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #c4c4c4;
    cursor: pointer;
    transition: color 0.5s ease;
    color: mediumblue;
}

.accordion:hover .accordion__title {
    color: black;
}

.accordion__title > .accordion__icon {
    opacity: 0;
    transition: transform 1s ease, opacity 0.5s ease;
    font-weight: bold;
    font-size: 1.5rem;
}

.accordion__item[open] > .accordion__title > .accordion__icon {
    transform: rotate(45deg);
    color: black;
}

 p {
     text-align: center;
 }

.image {
    width: 50%;
    padding: 10px;
}
